html, body {
    margin: 0;
}

h1 {
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    border-bottom: 4px solid black;
    padding-bottom: 20px;
    margin-bottom: 0;
    background-color: white;
}

.h1red {
    color: rgb(196, 30, 58);
}

.h1yellow {
    color: gold;
}

#introBox {
    margin: 0;
    background-color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2%;
    justify-content: center;
    padding: 40px 0px 40px 0px;
}

p {
    text-indent: 30px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 0;
    font-size: 20px;
}

#introText {
    max-width: 60%;
    padding-top: 20px;
}

#dormRoom {
    max-width: 400px;
}

#topicOne {
    background-color: rgb(221, 221, 228);
    padding: 20px 0px 40px 0px;
}

#topicOneTitle {
    padding-left: 140px;
    font-size: 50px;
}

#slideshow {
    padding-bottom: 0px;
    margin: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    transition: opacity 0.5s;
}

.hidden {
    opacity: 0;
}

#slide {
    max-width: 500px;
}

#slideCaption {
    background-color: white;
    max-width: 300px;
    padding: 20px;
}

@media (max-width: 857px) {
    #slideCaption {
        max-width: 460px;
    }
}

#slideTitle {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

#slideControls { 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.arrow {
    position: relative;
    background-color: white;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin: 15px;
}

.arrow div {
    position: absolute;
    height: 20px;
    width: 20px;
    border-top: 6px solid black;
    border-left: 6px solid black;
    left: 15px;
    top: 14px;
}

.left {
    transform: rotate(315deg);
}

.right {
    transform: rotate(135deg);
}